
body {
    margin: 0;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    line-height: 3;
    font-family: 'Kaushan Script', cursive;
    /*font-family: 'Roboto', sans-serif;
    font-weight: 100;*/
    font-size: 3em;
}

.main-container {
    text-align: center;
    margin: 15px 15px;
}

.data-container, .dialer-container {
    display: inline-block;
    min-width: 340px;
}

@media screen
and (min-width: 750px) {
    .data-container {
        min-width: 400px;
        margin-left: 20px;
    }
}