body {
    margin: 0;
    position: relative;
    overflow-y: scroll;
}

.main-container {
    text-align: center;
}

.data-container, .dialer-container {
    display: inline-block;
    height: inherit;
    min-width: 400px;
    min-height: 250px;
    background-color: aquamarine;
}